# ─────────── PostgreSQL ───────────
POSTGRES_DB=bd_name
POSTGRES_USER=bd_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# ─────────── Backend ───────────
DB_HOST=db
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=change_me

JWT_SECRET=pon_aqui_una_clave_larga_muy_aleatoria_de_32+_chars
JPA_SHOW_SQL=true
FLYWAY_ENABLED=true
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ─────────── Stamper ───────────
STAMPER_BASE_URL=http://stamper:8000
STAMPER_CALLBACK_TOKEN=token_largo_random_aqui